body{
  font-family:  'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
 text-align: center;
}

.site-title {
  text-decoration: none;
  color: #5fd9fb;
  font-size: 1.5em;
  /*font-weight: lighter;*/
  font-weight: bold;
}

.navbar{
  background: #20232a;
  position: sticky;
  z-index: 1;
  top: 0;
}

#nav{
  display: flex;
  justify-content: space-between;
}

.title-div{
  padding: 1.2em;
}

.nav-item{
  color: black;
  margin-left: 1em;
  text-decoration: none;
}

li{
  margin-top: 0.35em;
  list-style:none;
}


.dark-div{
  padding: 1em;
}


.dark-btn{
  margin-right: 1em;
  padding: 0.5em;
  background: #2c2f31;
  border: 2px solid #5fd9fb;
  color: #5fd9fb;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.dark-btn:hover{
  background: #5fd9fb;
  color: white;
}

.dark-btn:active{
  transform: scale(1.1);
}

.btn{
  text-decoration: none;
  color: white;
  background: #5fd9fb;
  padding: 0.5em;
  border-radius: 4px;
}

.card{
  box-shadow: 0 0  10px 8px #e5e5e6;
  border-radius: 6px;
  padding-bottom: 1em;
  overflow: hidden;
  width: 303px;
  transition: transform 0.5s;
}

.card:hover{
  transform: translateY(-10px);
}

.card-body{
  padding: 0  1.5em 1em;
}

.row{
  padding-top: 1.2em;
  display: grid;
  grid-template-columns: repeat(auto-fill,303px);
  justify-content: space-evenly;
  grid-row-gap: 2em;
}

.img-div{
  margin: 0 auto;
  width: 368px;
  height: 239px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.img{
  width: 82.5%;
  height: 93%;
  border-radius: 4px 4px 0 0;
  background-size: cover;
  transition: transform 0.5s;
}
.img:hover{
  transform: scale(1.2);
}

.spinner{
  display: flex;
  justify-content: center;
}

#menu-button{
  height: 60px;
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background: #1a1c22;
  border-radius: 10px;
  cursor: pointer;
}

#menu-text{
  position: absolute;
  bottom: 20px;
  right: 14px;
  color: #5fd9fb;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}

#menu{
  padding-left: 1.5em;
  font-size: 1.25rem;
  display: none;
  height: 92vh;
  background: #f7f7f7;
}

h3{
  margin-top: 0;
  padding-top: 1.5em;
}

.dark{
  background: #1d1f20!important;
}

.dark-font-color{
  color: white;
}

@media screen and (min-width: 1053px) {
  #menu-button{
    display: none;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
            "n n n m";
  }

  #news-div{
    display: block!important;
    grid-area: n;
  }

  #menu {
    display: block !important;
    grid-area: m;
    position: fixed;
    right: 0;
    left: 80%;
    /*height: 99vh;*/
  }
}

/*problems
1)flex box space around for 2 news card
2)// duplicate problem due to setState is asynchronous  this.setState{page : this.state.page+1}
3)/ eslint-disable-next-line react-hooks/exhaustive-deps
problem here infinte api calls as useEffect runs multiple times, use [] to solve.  imp
4)react router exact path.
5)react router key(change component) not updating the props(same News component instead of 'about' component in textutilts)problem here infinte api calls as useEffect runs multiple times, use [] to solve.  imp
6) CSS media query menu display block !important. in mobile form after menu open then close resizing to desktop size the menu display remains none.

1)dark mode css
2)title logo*/